#lupa{
    width: 30px !important;
    height: 24px !important;
}

#email{
    width: 30px !important;
    height: 24px !important;
}

#graph{
    width: 140px !important;
    height:140px !important;
}

.rowxcolumn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: justify;
    justify-content: space-evenly;
}

@media only screen and (max-width: 575px){
    #emailText{
        display: none;
    }
    .rowxcolumn{
        flex-direction: column;
        align-items: center;
    }
    .col-8{
        width: 100% !important;
    }
}