//Variables//
$primary:#f8b500;
$secondary:#16003b;
$font:"Poppins", sans-serif;
$text: white;
$fond: #1b1a17;

//variables de @media queries//
$smartphones: 480px;
$tablet:728px;
$netbook: 1000px;
$pc:1024px;